*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}
button{
    border: 1px solid transparent;
    outline: none;
}

header{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

header h1{
    font-size: 40px;
    font-weight: bold;
}

header .new{
    margin: 20px auto;
    width: 100px;
    border-radius: 10px;
    color: white;
    background-color: #8f7a66;
    padding: 10px 10px;
}
